<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-lg-4">
      <div class="card mt-3">
        <div class="card-category flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/1600x900/?<%= cocktail.name %>-cocktail')">
          <%= cocktail.name %>
          <%= link_to "Ingredients", cocktail_path(cocktail), class: "btn btn-primary mt-3" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
